@inherits System.Web.Mvc.WebViewPage<IEnumerable<CartFive.Models.Product>>

@{
    View.Title = "Index";
    LayoutPage = "~/Views/Shared/Layout.cshtml";
}

    <h2>Index</h2>

    <table>
        <tr>
            <th></th>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>
            <th>
                ImageUrl
            </th>
        </tr>

    @foreach (var item in Model) {
    
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.ImageUrl
            </td>
        </tr>
    
    }

    </table>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>


